* {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(
        to bottom, 
        #ffffff,   
        #cccccc,    
        #a0f0a0,   
        #87ceeb    
    );

   
    min-height: 100vh; 
    
    background-repeat: no-repeat; 
   
    background-attachment: fixed; 
}


 h1 {
  font-size: x-large;
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0; 
    
 }


.div-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 600px;
    margin-left: 600px;
    padding: 15px;
    padding-bottom: 35px;
    padding-top: 35px;
    background-color: #021534;
    color: #A0F0A0;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}


input {
    border-radius: 10px;
    padding: 10px;
    background-color: #A0F0A0;
    border: 4px solid white;
    
    

}


button {
    border-radius: 10px;
    padding: 10px;
    background-color: #A0F0A0;
    border: 4px solid white;
    
}

label {
    font-size: larger;
    font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0; 
}


.logo {
    max-width: 250px;
    height: auto;
    margin-left: 60px;
}



header {
    height: 30px;
}



    

#resultado {
  text-align: center;
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0; 
}


footer {
   color: #021534;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
}

